{
  "service": {
    "name": "zookeeper",
    "tags": [ "{{ consul_dc }}" ],
    "id": "2181:zkid-{{ zookeeper_id }}",
    "port": 2181,
    "check": {
      "script": "/usr/local/bin/zookeeper_check.sh",
      "interval": "10s"
    }
  }
}