{
  "name": "master",
  "description": "",
  "json_class": "Chef::Role",
  "default_attributes": {

  },
  "override_attributes": {
    "dcos": {
      "roles": [
        "master"
      ],
      "exhibitor": {
        "shared_fs_configdir": "{{ dcos_exhibitor_dir }}"
      },
      "master_lb": "{{ dcos_balancer }}",
      "dns": {
        "fallback": "8.8.8.8",
        "resolvers": [
          "8.8.8.8"
        ]
      },
      "repository-url": "file:///tmp"
    }
  },
  "chef_type": "role",
  "run_list": [
    "recipe[dcos]"
  ],
  "env_run_lists": {

  }
}
